
/* Disabled features */

#classLabel,
#editor_panel,
#history_panel .tool_sep,
#idLabel,
#main_button,
#main_menu,
#mid_marker_label,
#mid_marker_list,
#sidepanels,
#tool_angle,
#tool_blur,
#tool_editor_homepage,
#tool_editor_prefs,
#tool_fhellipse,
#tool_fhrect,
#tool_image,
#tool_link_url,
#tool_make_link,
#tool_make_link_multi,
#tool_polygon,
#tool_reorient,
#tool_source,
#tool_star,
#tool_wireframe,
#tool_topath,
#view_grid,
#xy_panel,
#tools_rect_show,
#tools_ellipse_show,
#tool_eyedropper,
.tool_sep,
.noop-none {
  /* comment out this to debug all features */
  display: none !important;
}

body {
  background: #fff;
}

body * {
  /* uncomment out this to debug all features */
  /* pointer-events: all !important; */
  /* color: red; */
  font-family: Arial, Helvetica, sans-serif;
}

select {
  min-height: 22px;
  padding: 0 10px;
  vertical-align: baseline;
}

#svgcanvas {
  /* overwrites the gradient background */
  background: rgb(248,249,250);
}

#rulers > #ruler_x,
#rulers > #ruler_y {
  background: #fff;
}

#tools_top {
  /* comment out this to debug all features */
  left: 1px;  
}

#tools_left {
  background: #fff;
}

#tools_left .tool_button > img[alt="icon"],
#tools_left .tool_button_current > img[alt="icon"] {
  height: 24px;
  width: 24px;
}


.tool_button, 
.push_button, 
.buttonup, 
.buttondown, 
.tool_button_current, 
.push_button_pressed {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: none;
}

.tool_button:hover, 
.push_button:hover, 
.buttonup:hover, 
.buttondown, 
.tool_button_current, 
.push_button_pressed {
  background-color: #eee !important;
}

.tool_button_current,
.push_button_pressed,
.buttondown {
  -moz-box-shadow: none  !important;
  -webkit-box-shadow: none  !important;
  background-color: rgb(232,240,254) !important;
  box-shadow: none  !important;
}

#toggle_stroke_tools:before {
  content: '\25B8';
  display: block;
  letter-spacing: 0;
  padding: 0 0 0 9px;
}

.expanded #toggle_stroke_tools:before {
  content: '\25B8';
  transform: scaleX(-1);
}

INPUT.spin-button,
INPUT.spin-button:hover,
INPUT.spin-button.up,
INPUT.spin-button.down {
  background-image: url('./images/spinner_arrows.svg');
  background-size: 20px 20px;
  background-position: right center;
  background-repeat: no-repeat;
}


#palette {
  display: flex;
  width: 40vw;
  max-width: 632px;
  min-width: 200px;
}

#palette .palette_item {
  flex: 1;
  overflow: hidden;
}

#palette .palette_item .svg_icon {
  object-fit: contain;
  max-width: 100%;
}


#position_opts.optcols3 {
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.2);
  margin-left: -11px;
  width: 46px;
}

#position_opts .push_button,
#position_opts .push_button_pressed {
  background-color: #fff;
  border-width: 0 !important;
  box-shadow: inset 0 0 0px 0.5px #ccc;
  display: flex;
  flex-direction: column;
  float: none !important;
  width: auto;  
}


#position_opts .push_button_pressed {
  box-shadow: inset 0 0 0px 0.5px #aaa;
}

.tools_panel,
.tools_panel * {
  user-select: none;
}

/* selection mask color */
#selectorRubberBand {
  fill: #eee !important;
  stroke: rgb(27,115,232) !important;
}

circle[id^="selectorGrip_"],
circle[id^="ctrlpointgrip_"],
circle[id^="pathpointgrip_"],
path[id^="segline_"],
path[id^="ctrlLine_"] {
  fill: rgb(27,115,232); 
}

path[id^="segline_"] {
  stroke: rgb(27,115,232);
}

#canvasBackground {
  outline: solid 1px rgba(0,0,0,0.5);
}